.field {
    display: inline-block;
    vertical-align: top;
  }
  label {
    align-items: center;
    justify-content: left;
    display: flex;
  }
  .input {
    margin-left: 15px;
    width: 10vw;
  }